
/* Estilos generales del cuerpo de la página */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos del formulario */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de las etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

/* Estilos de los campos de entrada */
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Estilos del botón de envío */
button {
    background-color: #ffcc29;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos del botón al pasar el mouse sobre él */
button:hover {
    background-color: #ffdb58;
}

/* Estilos generales para enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
